#page_dashboard {
  height: 76vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

#page_dashboard #page_dashboard_content {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.8rem;
  margin: 2rem 0;
}

#page_dashboard #page_dashboard_content section {
  width: 100%;
  height: 100%;
  padding: 1.4rem;
  border-radius: 1.4rem 1.4rem 1.4rem 1.4rem;

  background: var(--color-kiwi-dark-green);
  color: var(--color-kiwi-dark-brown);
}

#page_dashboard #page_dashboard_content section > h2 {
  font-size: 8vw;
  margin-bottom: 0.8rem;
}

#page_dashboard #page_dashboard_content .filas_container .establishment {
  background: var(--color-kiwi-dark-brown);
  color: var(--color-kiwi-lighter-brown);
  border-radius: 1.4rem 1.4rem 0 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 50% 50%;
  grid-template-areas: 
    "img name"
    "img address"
  ;
  height: 42%;
  padding: 4%;
}

#page_dashboard #page_dashboard_content .filas_container .establishment img {
  grid-area: img;
  border-radius: 1.4rem;
  height: 10vh;
  width: 10vh;
}

#page_dashboard #page_dashboard_content .filas_container .establishment h3 {
  grid-area: name;
  align-self: center;
}

#page_dashboard #page_dashboard_content .filas_container .establishment p {
  grid-area: address;
  align-self: center;
  font-style: italic;
  font-size: 1.3rem;
}

#page_dashboard #page_dashboard_content .filas_container .fila_positions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 47%;
  background: var(--color-kiwi-lighter-brown);
  color: var(--color-kiwi-dark-brown);
  border-radius: 0 0 1.4rem 1.4rem;
}

#page_dashboard #page_dashboard_content .filas_container .fila_positions h4,
#page_dashboard #page_dashboard_content .filas_container .fila_positions h4 span {
  font-size: 4vw;
}

#page_dashboard #page_dashboard_content .filas_container .fila_positions span {
  color: var(--color-kiwi-dark-green);
}

#page_dashboard #page_dashboard_content .filas_container .fila_positions h2 {
  font-size: 6vw;
  line-height: 6vw;
}

#page_dashboard #page_dashboard_content .filas_container .fila_positions h1 {
  font-size: 15vw;
  line-height: 12vw;
}

#page_dashboard #page_dashboard_content .filas_container .fila_positions .fila_presencial {
  width: 50%;
  padding: 0.5rem 1.2rem;
  border-right: 1px solid var(--color-kiwi-dark-brown);
}

#page_dashboard #page_dashboard_content .filas_container .fila_positions .fila_kiwi {
  width: 50%;
  padding: 0.5rem 1.2rem;
}

#page_dashboard #page_dashboard_content .map_container .mapa {
  background-color: var(--color-kiwi-lighter-brown);
  border-radius: 1.4rem;
  color: var(--color-kiwi-lighter-brown);
}

.scrollable_containers {
  display: flex;
  flex-direction: column;  
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 0.6rem;
  width: 100%;
}

.scrollable_containers ::-webkit-scrollbar {
  height: 7px;
}

#page_dashboard #page_dashboard_content .seguindo_container {
  width: 100%;
}

#page_dashboard #page_dashboard_content .seguindo_container button {
  background: transparent;
  outline: 0;
  border: 0;
  border: 0;
  width: 100%;
}

#page_dashboard #page_dashboard_content .seguindo_container button svg {
  font-size: 4rem;
  color: var(--color-kiwi-dark-brown);
}

#page_dashboard #page_dashboard_content .seguindo_container .following_establishments_list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  column-gap: 0.3rem;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

#page_dashboard #page_dashboard_content .seguindo_container .following_establishments_list img {
  height: 5rem; /* 9,6px = 1rem | 1vh = 0.01 * viewport height */
  width: 5rem;
  margin-bottom: .3rem;
  border-radius: 1.4rem 1.4rem 1.4rem 1.4rem;
}

#page_dashboard #page_dashboard_content .explore_container {
}

#page_dashboard #page_dashboard_content .explore_container button {
  background: transparent;
  outline: 0;
  border: 0;
  border: 0;
  width: 100%;
}

#page_dashboard #page_dashboard_content .explore_container button svg {
  font-size: 4rem;
  color: var(--color-kiwi-dark-brown);
}

#page_dashboard #page_dashboard_content .explore_container .recommended_establishment_list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  column-gap: 0.3rem;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

#page_dashboard #page_dashboard_content .explore_container .recommended_establishment_list div {
  margin-bottom: .3rem;
}

@media (min-width: 950px) {
  #page_dashboard {
    width: 100%;
    padding: 1.4rem;
    margin: 0;
  }

  #page_dashboard #page_dashboard_content {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 72vh 1fr;
    grid-template-columns: 3fr 3fr 2fr;
    grid-template-areas: 
      "fila mapa infos"
      "scrollable scrollable scrollable"
    ;
    row-gap: 1.2rem;
  }

  #page_dashboard #page_dashboard_content section > h2 {
    font-size: 2.5vw;
  }

  #page_dashboard #page_dashboard_content .filas_container {
    grid-area: fila;
    height: 100%;
    width: 36vw;
  }

  #page_dashboard #page_dashboard_content .filas_container .establishment {
    padding: 3%;
  }

  #page_dashboard #page_dashboard_content .filas_container .establishment h3 {
    font-size: 2vw;
    margin-left: 2vh;
  }

  #page_dashboard #page_dashboard_content .filas_container .establishment p {
    font-size: 1.1vw;
    margin-left: 2vh;
  }
  
  #page_dashboard #page_dashboard_content .filas_container .establishment img {
    height: 24vh;
    width: 24vh;
  }

  #page_dashboard #page_dashboard_content .filas_container .fila_positions h4,
  #page_dashboard #page_dashboard_content .filas_container .fila_positions h4 span {
    font-size: 2vw;
  }

  #page_dashboard #page_dashboard_content .filas_container .fila_positions h2 {
    font-size: 4vw;
    line-height: 5vw;
  }

  #page_dashboard #page_dashboard_content .filas_container .fila_positions h1 {
    font-size: 7.5vw;
    line-height: 6.5vw;
  }

  #page_dashboard #page_dashboard_content .map_container {
    grid-area: mapa;
    height: 100%;
    width: 36vw;
  }

  #page_dashboard #page_dashboard_content .fila_infos_container {
    grid-area: infos;
    height: 100%;
    width: 24vw;
  }

  .scrollable_containers {
    grid-area: scrollable;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    column-gap: 0.8rem;
    margin-bottom: 1.4rem;
  }

  #page_dashboard #page_dashboard_content .seguindo_container {
    width: 36vw;
    height: 100%;
  }

  #page_dashboard #page_dashboard_content .seguindo_container .following_establishments_list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    column-gap: 0.4rem;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  #page_dashboard #page_dashboard_content .explore_container {
    width: calc(60vw + 0.8rem);
    height: 100%;
  }

  #page_dashboard #page_dashboard_content .explore_container .recommended_establishment_list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    column-gap: 0.4rem;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

}



