.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 5rem;
  padding: 1rem;
  background: var(--color-kiwi-lighter-brown);
  border-radius: 1.4rem;
}

.container img {
  height: 4rem;
  width: 4rem;
  border-radius: 1.4rem;
}

.container .infos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 1rem;
}

.container .infos h3 {
  font-size: 100%;
}